{% extends "base.html" %}

{% block content %}
    <style>
        .centered-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh; 
            text-align: center;
        }

        .centered-container h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .centered-container a {
            font-size: 1.2rem;
            color: #007bff;
            text-decoration: none;
        }

        .centered-container a:hover {
            text-decoration: underline;
        }
    </style>

    <div class="centered-container">
        <h1>Page not found 404</h1>
        <a href="{% url 'store:index' %}">Go back to the shop</a>
    </div>
{% endblock content %}






