<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for product in products %}
    <div>
        <p>
            {{ product.name }}
        </p>
        <div>
            categories:
            <ul>
                {% for cat in product.category.all %}
                    <li>
                        {{ cat.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
</body>
</html>