<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <a href="{% url 'store:category' %}" class="btn btn-secondary">BACK IN SHOP</a>
    <h1>{{ product.name }}</h1>
    
    {% if product.image %}
    <img src="{{ product.image }}" alt="{{ product.name }}" style="max-width: 300px;">
    {% endif %}

    <p>Price: {{ product.price }} GEL</p>
    
    <h3>Categories:</h3>
    <ul>
        {% for category in product.category.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>

    <h3>Tags:</h3>
    <ul>
        {% for tag in product.tag.all %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>

