<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    Products Test
    {% for product in products %}
        <div>
            {{product}}
        </div>
        <div>
            categories:
            <ul>
            {%for cat in product.category.all%}
                <li>
                    {{cat}}
                </li>
            {%endfor%}
            </ul>
        </div>
    {% endfor %}
    Categories Test
    {% for category in categories %}
        <div>
            {{category}} --- {{category.products_count}}
        </div>
        <div>
            products:
            <ul>
            {%for pro in category.products.all%}
                <li>
                    {{pro}}
                </li>
            {%endfor%}
            </ul>
        </div>
    {% endfor %}
    
</body>
</html>