<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}BASE{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

    </head>

    <body>
      
      <div>
        <form id="form" action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %} 
          <input type="text" name="name" placeholder="Product" required>
          <input type="number" name="price" placeholder="Price" required>
          <input type="number" name="quantity" placeholder="Quantity" required>
          <input type="file" name="image" accept="image/*" required>
          {% comment %} <select name="category">
              <option value="cat 1">Category 1</option>
              <option value="cat 2">Category 2</option>
              <option value="cat 3">Category 3</option>
          </select> {% endcomment %}
          <button type="submit">SUBMIT</button>
      </form>
      
{% if name %}
    <p>name: {{ name }}</p>
{% endif %}
{% if price %}
    <p>price: {{ price }}</p>
{% endif %}
{% if quantity %}
    <p>quantity: {{ quantity }}</p>
{% endif %}
{% if image_url %}
    <p>Uploaded Image:</p>
    <img src="{{ image_url }}" alt="Uploaded Image" width="200">
{% endif %}
{% comment %} {% if category %}
    <p>Category: {{ category }}</p>
{% endif %} {% endcomment %}
    </div>

   
    </body>

</html>
